<br>
<br>
<h3>Notice Board</h3>

<div id="product-wrapper" Class="scroll_style" Class="product">

  <h3>Urgent Need - vacancy</3>
    <p>
      The position of ............is vacant. Staffs encouraged to refer qualified candidates to the management for employment on succesful interview.
    </p>

    <h3>Work ethics' tip</3>
      <p>
        Ensure you log-out of your account on end of duty.
      </p>
