<!DOCTYPE html>
<html>
<head>
  <title>Coded Computer Company</title>
<body>
  <nav>
    <ul>
      <li>
        <a href="/products">Products</a>
      </li>
      <li>
        <a href="/manufacturers">Manufacturers</a>
      </li>
    </ul>
    <%= yield %>
  </nav>
</body>
</html>
