<!DOCTYPE html>
<html>
<head>
  <title>Coded Computer Company</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
<body>
  <nav>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/new">Add Products</a></li>
      <li><a href="/manufacturers">Manufacturers</a></li>
      <li><a href="/manufacturers/new">Add Manufacturers</a></li>
    </ul>
    <%= yield %>
  </nav>
</body>
</html>
