<h2>Manufacturers</h2>


<div>
  <a href="/manufacturers/search">Search Manufacturers</a></li>
</div>

  <% @manufacturers.each do |manufacturer| %>
  <div>
    <h3>Name: <%= manufacturer.name %> </h3>
    <p>Address: <%= manufacturer.address%></p>

<% end %>
</div>
