<h3> Search Manufacturer </h3>

<form method="POST" action="/manufacturers/search">

    <div>
      <label for="name">Search by Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  <input type="submit" value="Search">
</form>
