<h3> Search Manufacturer </h3>

<form method="POST" action="/manufacturers/search">
  <div>

    <div>
      <label for="name">Search by Name:</label>
    </div>

  </div>
  <input type="submit" value="Search">
</form>
