#nav-fixed li {
  display: block;
  height: 3em;
  margin: 0 3px;
  padding: 3px 7px;
  background: Khaki;
  float: left;
  text-align: center;
  line-height: 3em;
}

#nav-fixed .double-line {
  line-height: 1.5em;
}
