body {
  background: black url('/images/SurfaceHome.jpg');
  background-size: 100%;
  background-repeat: repeat;
  color: none;
  font-family: Georgia, serif;
  padding: 30px;
  margin: 0px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4d4d4d;
   color: white;
   text-align: center;
}

#product-wrapper {
  margin-left: 10px;
}

.product {
  padding: 5px;
  display: inline-block;
  border: 6px double #white;
  width:420px;
}

.scroll_style {
  height:300px;
  background: #4d4d4d;
  width:420px;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

.visible1 {
  background: red;
  font-family: Georgia, serif;
  color: bold black;
  align: center;
}

.visible2 {
  background: yellow;
  font-family: Georgia, serif;
  color:  black;
  align: center;
}

.visible3 {
  background: green;
  font-family: Georgia, serif;
  color: black;
  align: center;
}

ul {display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #4d4d4d;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.click {
  display: block;
  color: white;
  text-align: center;
}

a {
    background-color: none;
  box-shadow: 0 5px 0 none;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
}

a:hover {
  background-color: #111;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
