body {
  background: black url('/images/SurfaceHome.jpg');
  background-size: 100%;
  background-repeat: repeat;
  color: none;
  font-family: Georgia, serif;
  padding: 30px;
  margin: 0px;
}

#product-wrapper {
  margin-left: 40px;
}
.product {
  padding: 5px;
  display: inline-block;
  border: 1px double #ccc;
  width:400px;
}

.scroll_style {
  border: 1px double #ccc;
  height:200px;
  background: grey;
  width:400px;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

.visible1 {
  background: red;
  font-family: Georgia, serif;
  color: bold black;
  align: center;
}

.visible2 {
  background: yellow;
  font-family: Georgia, serif;
  color:  black;
  align: center;
}

.visible3 {
  background: green;
  font-family: Georgia, serif;
  color: black;
  align: center;
}
