<h3> Search Product </h3>
<div id="product-wrapper" Class="scroll_style" Class="product">
<form method="GET" action="/products/search/name">
  <div>

    <div>
      <label for="name">Search by Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  </div>
  <input type="submit" value="Search">
</form>

<br>
<br>

<form method="GET" action="/products/search/manufacturer">
<div>
  <label for="manufacturer_id">Search by Manufacturer:</label>
  <select name="manufacturer_id" id="manufacturer_select">
       <option value="" selected disabled hidden>Choose here</option>
          <% @manufacturers.each do |manufacturer| %>
        <option value=<%= manufacturer.id %>><%= manufacturer.name.capitalize %></option>
        <% end %>
  </select>
</div>
<input type="submit" value="Search">
</form>

<br>
<br>

<form method="GET" action="/products/search/category">
<div>
  <label for="category_id">Search by Category:</label>
  <select name="category_id" id="category_select">
       <option value="" selected disabled hidden>Choose here</option>
          <% @categories.each do |category| %>
        <option value=<%= category.id %>><%= category.worth.capitalize %></option>
        <% end %>
  </select>
</div>
<input type="submit" value="Search">
</form>
</div>
