<h3> Search Product </h3>

<form method="POST" action="/products">
  <div>

    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

  </div>
</form>

<form action="/products/search" method="POST">  <input type="submit" value="Search">
</form>
